html,
body {
  font: 48px/1.5 sans-serif;
}

a {
  color: blue;
  text-decoration: none;
  transition: color 150ms;
}

a:hover,
a:focus {
  color: rebeccapurple;
}

a:active {
  color: indigo;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  margin: -.125rem;
  vertical-align: top;
}

:root {
  --icon-alert: url('data:image/svg+xml,\
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">\
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>\
    </svg>\
  ');
}

.icon-alert::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: -.125rem;
  margin-right: .5ch;
  vertical-align: top;
  background: currentColor;
  -webkit-mask-image: var(--icon-alert);
}
